:host {
    ion-content {
        --background: #ddd;
    }
}

.paz{
    font-size: 0.8em;
}

.header {
    //border: solid 1px;
    margin: 0px !important;
    height: 180px;
    border-bottom-left-radius: 80px;
    box-shadow: -3px 3px 5px #666;
    
    img{
        margin-top: 55px;
        width: 150px;
    }

}

.list-form{
    margin-top: 20px;
}

.bt-form{
    margin-top: 10%;
}